.main {
  width: 100%;
  background: linear-gradient(1deg, #202f4b, white);
  text-align: center;
  padding-top: 1.5vh;
  padding-bottom: 0.5vh;
}

p {
  margin: 0;
}

.main .T1 {
  font-size: 1.5vw;
  font-weight: bold;
  text-shadow: 0.1vw 0.1vw #9b9292;
  margin: 0;
}

.main .T2 {
  font-size: 1.2vw;
  font-weight: bold;
  float: left;
  margin-left: 10px;
}

.main .T3 {
  font-size: 1.2vw;
  font-weight: bold;
  float: right;
  text-align: right;
  margin-right: 10px;
  color: white;
  background: red;
  border: 3px solid red;
  border-radius: 5px;
}

.mainArea {
  width: 95%;
  background: #e7e0e0;
  margin: auto;
  margin-top: 5px;
  padding-top: 2vh;
  border-radius: 10px;
  border: 2px solid orange;
}

.mainArea .gridArea {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  margin-top: 3vw;
}
.gridArea .box {
  width: 90%;
  margin: auto;
}

.gridArea .box img {
  width: 70%;
  height: 18vh;
  border-radius: 50%;
}

.gridArea .box p {
  color: black;
  font-size: 0.9vw;
}
