.main {
  width: 100%;
  height: 80vh;
  background: linear-gradient(1deg, #202f4b, white);
  text-align: center;
  padding-top: 1.5vh;
  padding-bottom: 0.5vh;
  border: 0.5px solid gray;
  border-radius: 10px;
}

p {
  margin: 0;
}

.mainArea {
  width: 95%;
  margin: auto;
  padding-top: 2vh;
}

.main .T1 {
  font-size: 1.5vw;
  font-weight: bold;
  float: left;
}

.main .T2 {
  font-size: 1.2vw;
  font-weight: bold;
  float: right;
  text-align: right;
}

.main .T2 input {
  width: 300px;
  border: 0.5px solid gray;
  border-radius: 5px;
}

.main .T3 {
  font-size: 1.5vw;
  font-weight: bold;
  margin-left: 1.5vw;
  text-align: left;
}

.b1 {
  background: blue;
  color: white;
  border-radius: 5px;
  border: none;
  width: 50px;
}

.b2 {
  background: green;
  color: white;
  border-radius: 5px;
  border: none;
  width: 100px;
}

.b3 {
  background: yellow;
  color: black;
  border-radius: 5px;
  border: none;
  width: 65px;
  font-size: 9pt;
}

.b4 {
  background: red;
  color: yellow;
  border-radius: 5px;
  border: none;
  width: 60px;
  font-size: 9pt;
}

.main table {
  width: 100%;
  background: white;
  border-radius: 0.5vw;
  font-size: 0.9vw;
  overflow: auto;
}

.main table,
td {
  border: 0.1vw solid gainsboro;
}

.main .b3 a {
  text-decoration: none;
  font-size: 9pt;
}

.main table th {
  border-radius: 0.5vw;
  padding: 0.3vw 0;
  background-color: #2c2c5a;
  color: white;
}

.main td.subj {
  width: 50%;
  text-align: left;
  padding-left: 0.5vw;
}

/**** studentManage.php ****/

.info_left {
  float: left;
  width: 60%;
  text-align: left;
  padding: 5px;
  font-size: 10pt;
  font-size: 12pt;
}

.info_left .row {
  width: 100%;
  display: flex;
}

.info_left .row-line {
  width: 80%;
  margin-left: 5px;
}

.info_left label {
  width: 10vw;
  margin: 5px;
}

.info_left input,
textarea {
  border-radius: 5px;
  border: none;
  margin: 5px;
}

.w50 {
  width: 15vw;
}

.w100 {
  width: 30vw;
}

.bgOrg {
  background: #f2c5a9;
}

.info_right {
  float: left;
  width: 35%;
  text-align: center;
}

.info_right .upImage {
  width: 100%;
}

.info_right .upImage img {
  width: 80%;
  height: 40vh;
  border-radius: 50%;
  padding: 10px;
}

.info_right .upImage .b5 {
  background: black;
  color: white;
  width: 150px;
  border-radius: 5px;
}
.info_right .b6,
.b7 {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  margin-top: 50px;
  border: none;
}

.info_right .b6 {
  background: yellow;
  color: black;
}

.info_right .b7 {
  background: blue;
  color: white;
}
